In [1]:
import numpy as np
import pandas as pd
from sklearn.cross_validation import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import TfidfVectorizer

C:\Users\aniru\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
df=pd.read_csv('spam.csv' ,sep='\t',names=['stat' , 'message'])

In [3]:
df.head()

   stat                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [ ]:
df.loc[df["stat"]=="ham","stat"]=1

In [ ]:
df.loc[df["stat"]=="spam" , "stat"]=0

In [73]:
df.head()

  stat                                            message
0    1  Go until jurong point, crazy.. Available only ...
1    1                      Ok lar... Joking wif u oni...
2    0  Free entry in 2 a wkly comp to win FA Cup fina...
3    1  U dun say so early hor... U c already then say...
4    1  Nah I don't think he goes to usf, he lives aro...

In [ ]:
x=df["message"]

In [ ]:
y=df['stat']

In [ ]:
x_train , x_test , y_train , y_test=train_test_split(x,y,test_size=0.1,random_state=4)

In [85]:
x_test

4004    somewhere out there beneath the pale moon ligh...
2276           Is that on the telly? No its Brdget Jones!
4498                                                   Ok
3755    Bloomberg -Message center +447797706009 Why wa...
111              What is the plural of the noun research?
3662                  Well then you have a great weekend!
4282    Wn u r hurt by d prsn who s close 2 u, do figh...
1991    HI DARLIN IVE JUST GOT BACK AND I HAD A REALLY...
2298                            Draw va?i dont think so:)
2438    For ur chance to win £250 cash every wk TXT: P...
4164                  I told that am coming on wednesday.
5336    Sounds better than my evening im just doing my...
4919    Sitting in mu waiting for everyone to get out ...
387                       Customer place i will call you.
3968    YOU HAVE WON! As a valued Vodafone customer ou...
4844                I need details about that online job.
260     I‘m parked next to a MINI!!!! When are you com...
3484    Hello, my love! How goes that day ? I wish you...
3668    Honey ? Sweetheart ? Darling ? Sexy buns ? Sug...
2472                sry can't talk on phone, with parents
2752                Play w computer? Aiyah i tok 2 u lor?
3643    My house here e sky quite dark liao... If rain...
3456    No need lar. Jus testing e phone card. Dunno n...
4586    U have a Secret Admirer who is looking 2 make ...
5481                      Shall call now dear having food
3331                          Send me yetty's number pls.
4992    We made it! Eta at taunton is 12:30 as planned...
3023                          How dare you change my ring
4782    Yup... Hey then one day on fri we can ask miwa...
1849    I dont want to hear philosophy. Just say what ...
                              ...
3827    Goodmorning,my grandfather expired..so am on l...
2535                        Ok enjoy . R u there in home.
3499    You said to me before i went back to bed that ...
2294    Hello. Damn this christmas thing. I think i ha...
1777                    Call FREEPHONE 0800 542 0578 now!
1053    I got another job! The one at the hospital doi...
4495    Man this bus is so so so slow. I think you're ...
1171    Yeah, we can probably swing by once my roommat...
3039    You are not bothering me but you have to trust...
330     I'm reading the text i just sent you. Its mean...
4931    Hi, the SEXYCHAT girls are waiting for you to ...
1787    Do you know why god created gap between your f...
2184    Chinatown got porridge, claypot rice, yam cake...
1489    Tell them no need to investigate about me anyw...
5229                  It means u could not keep ur words.
1220    True. It is passable. And if you get a high sc...
5513    Yes. Please leave at  &lt;#&gt; . So that at  ...
532     What Today-sunday..sunday is holiday..so no wo...
2515        Ok ill send you with in  &lt;DECIMAL&gt;  ok.
416                   Whatsup there. Dont u want to sleep
4293                                                G.W.R
2050             How much is blackberry bold2 in nigeria.
220     Yeah you should. I think you can use your gt a...
2760    Can meh? Thgt some will clash... Really ah, i ...
5468    URGENT! Last weekend's draw shows that you hav...
4530      Hiya, probably coming home * weekend after next
1189    All will come alive.better correct any good lo...
2683    I got a call from a landline number. . . I am ...
922     On ma way to school. Can you pls send me ashle...
1075              Aight ill get on fb in a couple minutes
Name: message, Length: 558, dtype: object

In [74]:
len(x_train)

5014

In [75]:
len(x_test)
y_train

4914    0
3352    1
4785    1
1835    1
5479    1
3172    1
3005    0
1501    1
2598    1
2730    0
688     1
1687    0
784     0
3166    1
2982    1
1675    1
3744    1
3764    1
3819    0
719     0
1415    1
2214    1
1400    1
2158    1
1387    1
4623    1
4734    1
4103    1
1315    1
3020    1
       ..
3394    1
3633    1
3720    0
1054    1
5493    1
4270    1
4802    1
56      0
2470    1
3785    1
149     1
2581    0
4279    1
1024    1
1411    1
1588    1
5246    1
946     1
5433    1
5047    1
2871    0
3678    1
1082    1
4489    1
456     1
3671    1
709     0
2487    1
174     1
1146    0
Name: stat, Length: 5014, dtype: int32

In [103]:
cv=TfidfVectorizer(min_df=1,stop_words='english')

In [105]:
x_cv=cv.fit_transform(x_train)
x_tcv=cv.transform(x_test)

In [106]:
b=x_cv.toarray()
np.array(y_train)

array([0, 1, 1, ..., 1, 1, 0])

In [107]:
mnb=MultinomialNB()
y_train=y_train.astype('int')
y_train

4914    0
3352    1
4785    1
1835    1
5479    1
3172    1
3005    0
1501    1
2598    1
2730    0
688     1
1687    0
784     0
3166    1
2982    1
1675    1
3744    1
3764    1
3819    0
719     0
1415    1
2214    1
1400    1
2158    1
1387    1
4623    1
4734    1
4103    1
1315    1
3020    1
       ..
3394    1
3633    1
3720    0
1054    1
5493    1
4270    1
4802    1
56      0
2470    1
3785    1
149     1
2581    0
4279    1
1024    1
1411    1
1588    1
5246    1
946     1
5433    1
5047    1
2871    0
3678    1
1082    1
4489    1
456     1
3671    1
709     0
2487    1
174     1
1146    0
Name: stat, Length: 5014, dtype: int32

In [108]:
mnb.fit(x_cv, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [116]:
actual=cv.transform(x_test)
p=mnb.predict(a)

In [110]:

p

array([1])

In [117]:
actual=np.array(y_test)
count=0
for i in range(len(p)):
    if p[i]==actual[i]:
        count+=1

In [118]:
count

533

In [ ]:
len(y_test)

In [119]:
533/558

0.9551971326164874

In [121]:
cv.inverse_transform(b[0])

[array(['78', 'arsenal', 'bergkamp', 'goal', 'henry', 'liverpool', 'margin',
        'mins', 'pass', 'scores', 'shot', 'simple', 'yards'],
       dtype='<U32')]

In [122]:
x_train.iloc[0]

'Goal! Arsenal 4 (Henry, 7 v Liverpool 2 Henry scores with a simple shot from 6 yards from a pass by Bergkamp to give Arsenal a 2 goal margin after 78 mins.'